html {
    @include box($width: 100%, $height: 100%, $minheight: 100vh, $maxwidth: 1440px);
}

body {
    @include box($height: 100%);
}

#root {
    @include box($width: 100%, $height: fit-content, $minheight: 100%, $display: grid, $templatecolumns: 100px 1fr, $templaterows: 80px 1fr);

    * {
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
    }
}

.titre {
    @include box($position: absolute, $fontsize: 15, $color: #20253A);
}

a {
    cursor: pointer;
}